div {
	border-radius: 5px;
}

#header {
	z-index: 1;
	position: fixed;
	width: 99%;
	margin-top: -20px;
	height: 60px;
	background-color: #2F343B;
	margin-bottom: 10px;
}

#name {
	float:left;
	margin-left: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

#email{
	float:right;
	margin-right: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

h4 {
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Verdana, sans-serif;
}

.right p {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -10px;
	font-family: Garamond, serif;
	color: #000000;
}

li {
	list-style-type: square;
}

a:hover {
	font-weight: bold;
}

.left {
	position: fixed;
	float: left;
	margin-top: 50px;
	width: 10%;
	height: 85%;
	background-color: #C77966;
	margin-bottom: 10px;
}

.right {
	position: relative;
	float: right;
	margin-top: 50px;
	width: 88%;
	height: 85%;
	background-color: #7E827A;
	margin-bottom: 55px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

#footer {
	position: fixed;
	width: 99%;
	margin-top: 720px;
	height: 60px;
	background-color: #2F343B;
	font-size: 12px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

#footer p {
	position: relative;
	padding-top: 5px;
}
