div {
	border-radius: 5px;
}

#header {
	z-index: 1;
	position: fixed;
	width: 99%;
	margin-top: -20px;
	height: 60px;
	background-color: #29323D;
	margin-bottom: 10px;
}

#name {
	float:left;
	margin-left: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

#email {
	float:right;
	margin-right: 5px;
	padding-bottom: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

h4 {
	margin-left: 5px;
	margin-bottom: 15px;
	margin-top: 25px;
	font-family: Verdana, sans-serif;
}

li {
	list-style-type: square;
}

a:hover {
	font-weight: bold;
}

.left {
	position: fixed;
	float: left;
	width: 11%;
	height: 150%;
	background-color: #333333;
}

.right {
	position: relative;
	float: right;
	margin-top: 50px;
	width: 88%;
	height: 85%;
	background-color: #DDDDDD;
	margin-bottom: 55px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #191E23;
}

.right p {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -5px;
	margin-bottom: 10px;
	font-family: Garamond, serif;
	color: #000000;
}

#footer {
	position: fixed;
	width:99%;
	height:60px;
	bottom:0px;
	background-color: #29323D;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

#info {
	float:left;
	margin-left: 5px;
	padding-bottom: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

#github {
	float:right;
	margin-right: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

#footer p {
	position: relative;
	padding-top: 5px;
}
